* {
    font-family: "Fira Sans";
}

body {
    margin: 0;
    padding: 0;
    background: #dde5f4;
}

#selected {
    width: 70px;
    height: 70px;
    background-color: #3e4684;
    border-radius: 10px;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 2em;
}

#selected img {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.content {
    flex-grow: 1;
    width: calc(100% - 140px);
    padding-left: 140px;
}

.container {
    padding-top: 30px;
    display: flex;
    padding-right: 0;
    margin: 0;
}

#calendar {
    width: 800px;
    position: fixed;
}

:root {
    --fc-button-bg-color: #3e4684;
    --fc-neutral-bg-color: #f1f7fe;
    --fc-list-event-hover-bg-color: #f1f7fe;
}

.fc-day-today {
    background: #b2b4d4 !important;
    border: none !important;
}

.fc-event {
    padding: 2px;
}

.fc-list-day-cushion {
    background-color: #f1f7fe;
}

.filter {
    width: 400px;
    margin-left: 850px;
    background: #f1f7fe;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 2em;
}

.filter p {
    padding-left: 10px;
}

.training-date input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 2em;
    padding: 10px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
    overflow-y: hidden;
    border: none;
}

.session-time input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 2em;
    padding: 10px;
    margin: 10px;
    width: 50px;
    border-radius: 10px;
    overflow-y: hidden;
    border: none;
}

.session-time,
.trainer-select, 
.type-select,
.training-date {
    display: inline-block;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: 350px;
    border-radius: 10px;
    overflow-y: hidden;
}

.session-time-block {
    display: block;
    float: left;
    margin-right: 10px;
}

#training-time {
    width: 50px;
    padding: 10px;
    display: block;
    float: left;
}

.filter button {
    margin-top: 15px;
    background-color: #3e4684;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 2em #e6e9f9;
    overflow-y: hidden;
}
