* {
    font-family: "Fira Sans";
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    background: #dde5f4;
}

#selected {
    width: 70px;
    height: 70px;
    background-color: #3e4684;
    border-radius: 10px;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 2em;
}

#selected img {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.content {
    flex-grow: 1;
    padding: 140px;
    padding-top: 0px;
}

.profile-info {
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    gap: 3em;
    width: 300px;
	height: 200px;
    position: relative;
    top: -50px;
}

.profile-photo {
    width: 330px;
    height: 330px;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: hidden;
}

.first-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.name,
.birth-date,
.gender,
.phone-number,
.email,
.last-visit,
.level,
.payment-date,
.speciality {
    background-color: #f1f7fe;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 2em;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: hidden;
}

.achievements-container {
    background-color: #f1f7fe;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 15px;
    display: grid;
    width: 450px;
    height: 150px;
    border-radius: 10px;
}

.achievements {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.achievements-container p {
    position: relative;
    top: -10px;
}

.achievement-item {
    width: 100px;
    height: 100px;
    background-color: #3e4684;
    border-radius: 10px;
    display: flex;
    position: relative;
    top: -5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.achievement-item img {
    display: block;
    max-width: 55px;
    max-height: 55px;
    width: auto;
    height: auto;
    margin-top: 10px;
}

.achievement-item p {
    font-size: small;
    color: white;
    text-align: center;
}

.workouts-container {
    background-color: #f1f7fe;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 2em;
    padding: 15px;
    width: 450px;
    height: 330px;
    border-radius: 10px;
    position: relative;
    top: 30px;
}

.workouts-title {
    position: relative;
    top: -10px;
}

.workouts {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 220px;
    position: relative;
    top: -10px;
    border-top: solid #d1dbe7;
}

.workout-item {
    border-bottom: solid #d1dbe7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.workout-item p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
}

.container-bottom {
    text-align: right;
    margin-bottom: auto;
}

.other-workouts {
    display: inline-block;
    vertical-align: middle;
}

.all-training-button {
    padding: 1em;
    background: #3e4684;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.news {
    position: relative;
    top:300px;

}

.news-title {
    font-size: 18px;
    font-weight: bold;
}