* {
    font-family: "Fira Sans";
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    background: #dde5f4;      
}

#selected {
    width: 70px;
    height: 70px;
    background-color: #3e4684;
    border-radius: 10px;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 2em;
}

#selected img {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.content {
    flex-grow: 1;
    position: relative;
    top: -50px;
	padding-left: 10px;
    display:grid;
    grid-template-columns: 50% 40%;
	grid-template-rows: 10% 10%;
	border-radius: 10px;
}

.signup-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.unsubscribe-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.gray-button {
    background-color: gray;
}
