<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <title>Расписание занятий</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/calendar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fira+Sans'>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'> </script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'ru',
                firstDay: 1,
                initialView: 'dayGridMonth',
                events: '/trainings',
                eventColor: 'color',
                eventTimeFormat: { // like '14:30:00'
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: false,
                    hour12: false
                },
                eventClick: function (info) {
                    var baseUrl = window.location.protocol + "//" + window.location.host + "/";
                    window.location.href = window.location.origin + '/calendar/training/' + info.event.id;
                }
            });
            calendar.render();
        });

    </script>
</head>

<body>

    <div class="sidebar">
        <div class="logo">
            <img th:src="@{/icons/logo.png}" alt="Logo">
        </div>
        <div class="icons">
            <a class="profile" th:href="'/profile/' + ${role} + '/' + ${id}">
                <img th:src="@{/icons/profile.svg}" alt="Profile">
            </a>
            <a class="calendar" id="selected" href="">
                <img th:src="@{/icons/calendar-white.svg}" alt="Calendar">
            </a>
            <a class="statistic" th:href="'/statistic/' + ${role} + '/' + ${id}">
                <img th:src="@{/icons/statistic.svg}" alt="Statistic">
            </a>
            <a class="trainers" th:href="'/trainers'">
                <img th:src="@{/icons/trainers.svg}" alt="trainers">
            </a>
            <a class="logout" th:href="'/logout'">
                <img th:src="@{/icons/logout.svg}" alt="Log out">
            </a>
        </div>
    </div>

    <div id='calendar'>

    </div>

</body>

</html>