<!DOCTYPE html>
<html>

<head>
    <title>Профиль</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fira+Sans'>
</head>

<body>

    <div class="sidebar">
        <div class="logo">
            <img th:src="@{/icons/logo.png}" alt="Logo">
        </div>
        <div class="icons">
            <a class="profile" id="selected" href="">
                <img th:src="@{/icons/profile-white.svg}" alt="Profile">
            </a>
            <a class="calendar" th:href="'/calendar/' + ${role} + '/' + ${id}">
                <img th:src="@{/icons/calendar.svg}" alt="Calendar">
            </a>
            <a class="statistic" th:href="'/statistic/' + ${role} + '/' + ${id}">
                <img th:src="@{/icons/statistic.svg}" alt="Statistic">
            </a>
            <a class="logout" th:href="'/logout'">
                <img th:src="@{/icons/logout.svg}" alt="Log out">
            </a>
        </div>
    </div>

    <div class="content">
        <h1>Профиль</h1>
        <div class="profile-info">
            <div class="first-column">
                <img th:src="${photoURL}" alt="Profile Photo" class="profile-photo">
                <p class="email" th:text="'Ваша почта: ' + ${member.email}"></p>
                <p class="last-visit">Последняя тренировка: вчера</p>
                <p class="payment-date">Ближайшая оплата абонемента: завтра</p>
            </div>
            <div class="info">
                <p class="name" th:text="${member.first_name + ' ' + member.second_name}"></p>
                <p class="gender"> Пол:
                    <span th:if="${member.gender == '0'}">женский</span>
                    <span th:unless="${member.gender == '1'}">мужской</span>
                </p>
                <p class="birth-date" th:text="'День рождения: ' + ${member.birth_date}"></p>
                <p class="phone-number" th:text="'Телефон: ' + ${member.phone_number}"></p>
                <p class="level" th:text="'Уровень: ' + ${roleName}"></p>
            </div>
            <div class="third-column">
                <div class="achievements-container">
                    <p>Ваши достижения</p>
                    <div class="achievements">
                        <div class="achievement-item" th:each="achievement : ${achievements}">
                            <img th:src="${achievement.achievement_icon_url}">
                            <p th:text="${achievement.achievement_title}"></p>
                        </div>
                    </div>
                </div>
                <div class="workouts-container">
                    <p>Запланированные тренировки</p>
                    <div class="workouts">
                        <div class="workout-item" th:each="workout : ${workouts}">
                            <p th:text="${workout.trainingType.training_type_name}"></p>
                            <p th:text="${workout.session_date}"></p>
                            <p th:text="${workout.session_time} + ' мин'"></p>
                        </div>
                    </div>
                    <a class="all-training-button" th:href="'/calendar/' + ${role} + '/' + ${id}">Все тренировки</a>
                </div>
            </div>
        </div>

        <h1>Новости</h1>
        <div class="news" th:each="new : ${news}">

        </div>
    </div>

</body>

</html>