<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/training.css}">
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fira+Sans'>
    <title>Тренировка</title>
</head>

<body>

    <div class="sidebar">
        <div class="logo">
            <img th:src="@{/icons/logo.png}" alt="Logo">
        </div>
        <div class="icons">
            <th:block th:switch="${role}">
                <div th:case="'member'">
                    <a class="profile" th:href="'/profile/member/' + ${memberId}">
                        <img th:src="@{/icons/profile.svg}" alt="Profile">
                    </a>
                    <a class="calendar" id="selected" th:href="'/calendar/member/' + ${memberId}">
                        <img th:src="@{/icons/calendar-white.svg}" alt="Calendar">
                    </a>
                    <a class="statistic" th:href="'/statistic/member/' + ${memberId}">
                        <img th:src="@{/icons/statistic.svg}" alt="Statistic">
                    </a>
                    <a class="trainers" th:href="'/trainers'">
                        <img th:src="@{/icons/trainers.svg}" alt="trainers">
                    </a>
                </div>
                <div th:case="'trainer'">
                    <a class="profile" th:href="'/profile/trainer/' + ${trainerId}">
                        <img th:src="@{/icons/profile.svg}" alt="Profile">
                    </a>
                    <a class="calendar" id="selected" th:href="'/calendar/trainer/' + ${trainerId}">
                        <img th:src="@{/icons/calendar-white.svg}" alt="Calendar">
                    </a>
                </div>
                <div th:case="'staff'">
                    <a class="profile" th:href="'/profile/staff/' + ${staffId}">
                        <img th:src="@{/icons/profile.svg}" alt="Profile">
                    </a>
                    <a class="calendar" id="selected" th:href="'/calendar/staff/' + ${staffId}">
                        <img th:src="@{/icons/calendar-white.svg}" alt="Calendar">
                    </a>
                </div>
            </th:block>
            <a class="logout" th:href="'/logout'">
                <img th:src="@{/icons/logout.svg}" alt="Log out">
            </a>
        </div>
    </div>

    <div class="content">
        <h2 class="title" th:text="${training.trainingType.training_type_name}"></h2>
        <p class="club" th:text="'xxd София'"></p>

        <div class="containers">
            <div class="info-container">
                <div class="workout-info">
                    <p class="description" th:text="${training.trainingType.workout_description}"></p>
                    <div class="workout-prop">
                        <p class="date" th:text="${session_date}"></p>
                        <p class="duration" th:text="${training.session_time}+' мин'"></p>
                    </div>
                </div>
            </div>

            <div class="trainer-container" th:if="${role == 'member'}">
                <p class="trainer" th:text="'Тренер: ' + ${trainer.first_name}+' '+${trainer.second_name}"></p>
                <div class="trainer-photo">
                    <img th:src="${trainer.trainerAccounts.trainerPhoto.image_url}">
                </div>
            </div>

            <div class="buttons-container">
                <th:block th:switch="${role}">
                    <div th:case="'member'">
                        <form th:action="'/calendar/training/subscribe'" method="post" th:object="${TrainingForm}">
                            <input type="hidden" name="memberId" th:value="${memberId}">
                            <input type="hidden" name="trainingId" th:value="${id}">
                            <button type="submit" class="signup-button" th:disabled="${isSignedUp}"
                                th:classappend="${isSignedUp} ? 'gray-button' : ''"
                                th:text="${isSignedUp} ? 'Вы записаны' : 'Записаться'"></button>
                            <button type="submit" class="unsubscribe-button" th:if="${isSignedUp}"
                                formaction="/calendar/training/unsubscribe">Отписаться</button>
                        </form>
                    </div>
                    <div th:case="'trainer'">
                        <button type="submit" class="trainer-button">Вы ведете</button>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

</body>

</html>