<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/training.css}">
    <title>Training</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/training.css}">
    <title>Training</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img th:src="@{/icons/logo.png}" alt="Logo">
        </div>
        <div class="icons">
            <a class="profile" id="selected" href="">
                <img th:src="@{/icons/profile.svg}" alt="Profile">
            </a>
            <a class="calendar" th:href="'/calendar/' + ${role} + '/' + ${id}">
                <img th:src="@{/icons/calendar.svg}" alt="Calendar">
            </a>
            <a class="statistic" href="#statistic">
                <img th:src="@{/icons/statistic.svg}" alt="Statistic">
            </a>
            <a class="logout" href="/logout">
                <img th:src="@{/icons/logout.svg}" alt="Log out">
            </a>
        </div>
    </div>
    <div class="content">
        <h2 class="String" th:text="${training.trainingType.training_type_name}"></h2>
        <br><a class="String" th:text="${training.trainingType.workout_description}"></a></br>
        <div class="content-info">            
            <p class="String" th:text="'Продолжительность тренировки:'"></p>
            <p class="String" th:text="'Тренер:'"></p> 
            <p class="String" th:text="${training.session_time}+' мин'"></p>
            <p class="String" th:text="${trainers.first_name}+' '+${trainers.second_name}"></p> 
        </div>        
    </div>

</body>
</html>